{"openapi":"3.0.3","info":{"title":"Mirr Customer API","version":"1.0.0","description":"API key authenticated endpoints for building on top of Mirr. Requires Standard or higher with an eligible subscription. See the [workflow guide](/docs/customer-api-workflows.md) for URL-to-video, blog outline approval, polling, credits, and publishing. WordPress publishing is not provided by Mirr."},"servers":[{"url":"https://www.mirra.my"}],"components":{"schemas":{},"parameters":{},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"Mirr API Key","description":"Use an API key from the Mirr dashboard as a Bearer token."}}},"paths":{"/api/v1/video-lab/generate-document":{"post":{"tags":["VideoLab"],"summary":"Generate a Google Vids-style editable video document","description":"Creates a saved editable video. Set reviewBeforeFinalize=true for a free script/scene draft. After review, finalize with generationId and expectedUpdatedAt, then call render separately. Base finalized generation costs 15 credits; delivered AI brand image/video options add 15/30 credits. MCP: video_create_draft. See /docs/customer-api-workflows.md.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"inputOrigin":{"type":"string","enum":["manual","url","url_edited","idea","bulk","agent","template"]},"inputSourceUrl":{"type":"string","maxLength":2048},"referenceImages":{"type":"array","items":{"type":"string","format":"uri"}},"aspectRatio":{"type":"string","enum":["16:9","9:16","1:1"],"default":"9:16"},"targetDurationSeconds":{"type":"integer","minimum":0,"exclusiveMinimum":true},"language":{"type":"string","minLength":2,"maxLength":16,"default":"en"},"style":{"type":"string","maxLength":3000},"scriptMode":{"type":"string","enum":["rewrite","verbatim"]},"sceneCount":{"type":"integer","minimum":0,"exclusiveMinimum":true},"compositionMode":{"type":"string","enum":["template","authored"],"default":"template"},"generationPipeline":{"type":"string","enum":["foundation","mixed-media"],"default":"foundation"},"styleProfileId":{"type":"string"},"pinnedSceneTemplateIds":{"type":"array","items":{"type":"string"},"maxItems":20},"voiceId":{"type":"string","minLength":1,"maxLength":256},"voiceProvider":{"type":"string","enum":["inworld","fish-audio","typecast"]},"voiceName":{"type":"string","minLength":1,"maxLength":120},"prepareVoiceTiming":{"type":"boolean","default":true},"captionPunchEnabled":{"type":"boolean","default":true},"sourceCaptionPreset":{"type":"string","enum":["wordFocus","wordPair","chunkBar","karaokeClean","cinematicFocus","bigHook","buildLine","highlighterBox","keywordPunch","slamPop","extrudeStack","koVarietyShow","jaTelopMinimal","arRtlBar","cleanLower","purpleHighlight","underlineShadow","lineCard","wordPop","wordBadge","boldYellow","whiteBox","neonCaption","wordCenter"]},"webSearchEnabled":{"type":"boolean"},"searchSceneAssets":{"type":"boolean","default":true},"resultsPerScene":{"type":"integer","minimum":1,"maximum":6,"default":4},"applyFirstResult":{"type":"boolean","default":true},"reviewBeforeFinalize":{"type":"boolean","default":false},"strictTextFit":{"type":"boolean","default":false},"mediaPlanningMode":{"type":"string","enum":["legacy-finalize","review-selected-1n"]},"visualModePolicy":{"type":"string","enum":["current-binary","broll-free","best-fit","free-only","directed-only"]},"directedBrollContract":{"type":"string","enum":["legacy-pixel-dominant","story-first","text-only"]},"mediaPlanningBrief":{"type":"string","minLength":3,"maxLength":1200},"generateSoundtrack":{"type":"boolean","default":false},"userMedia":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"kind":{"type":"string","enum":["image","video"]},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"thumbnailUrl":{"type":"string","format":"uri"},"width":{"type":"number","minimum":0,"exclusiveMinimum":true},"height":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceUrl":{"type":"string","format":"uri"},"mimeType":{"type":"string"},"animatedImage":{"type":"boolean"},"label":{"type":"string","maxLength":200}},"required":["url","kind"]},"maxItems":30},"sourceVideo":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["auto-edit"]},"framing":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["crop"]}},"required":["mode"]},{"type":"object","properties":{"mode":{"type":"string","enum":["background-fill"]},"background":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]}},"required":["mode","background"]}]},"mediaUrl":{"type":"string","format":"uri"}},"required":["mode","mediaUrl"]},{"type":"object","properties":{"mode":{"type":"string","enum":["recorded-speech"]},"mediaUrl":{"type":"string","format":"uri"},"framing":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["crop"]}},"required":["mode"]},{"type":"object","properties":{"mode":{"type":"string","enum":["background-fill"]},"background":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]}},"required":["mode","background"]}]}},"required":["mode","mediaUrl"]},{"type":"object","properties":{"mode":{"type":"string","enum":["scripted-voiceover"]},"mediaUrl":{"type":"string","format":"uri"},"script":{"type":"string","minLength":1,"maxLength":2500},"framing":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["crop"]}},"required":["mode"]},{"type":"object","properties":{"mode":{"type":"string","enum":["background-fill"]},"background":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]}},"required":["mode","background"]}]}},"required":["mode","mediaUrl","script"]}]},"speechSourceMediaUrl":{"type":"string","format":"uri"},"imageSearchSource":{"type":"string","enum":["commercial","internet"]},"mediaType":{"type":"string","enum":["all","image","video"]},"mediaSource":{"type":"string","enum":["internet","commercial","brand-ai","brand-ai-video","user-media"]},"brandReferenceImageUrls":{"type":"array","items":{"type":"string","format":"uri"},"maxItems":3},"aiAvatarReferenceUrl":{"type":"string","format":"uri"},"aiVisualDirection":{"type":"string","maxLength":2000}},"required":["prompt"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"generationId":{"type":"string","minLength":1},"document":{"type":"object","properties":{"id":{"type":"string","minLength":1},"title":{"type":"string","minLength":1},"aspectRatio":{"type":"string","enum":["16:9","9:16","1:1"]},"language":{"type":"string","minLength":2,"maxLength":16},"targetDurationSeconds":{"type":"integer","minimum":0,"exclusiveMinimum":true},"activeSceneId":{"type":"string","minLength":1},"editingMode":{"type":"string","enum":["generated","source-video","longform-source"]},"longformSource":{"type":"object","properties":{"version":{"type":"string","enum":["1"]},"projectId":{"type":"string","format":"uuid"},"sourceAssetUrl":{"type":"string","format":"uri"},"sourceDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceWidth":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceHeight":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceManifestRevision":{"type":"integer","minimum":0,"exclusiveMinimum":true},"analysisRevision":{"type":"integer","minimum":0,"exclusiveMinimum":true}},"required":["version","projectId","sourceAssetUrl","sourceDurationSeconds","sourceManifestRevision","analysisRevision"]},"longformDesign":{"type":"object","properties":{"version":{"type":"string","enum":["1"]},"preset":{"type":"string","enum":["clean","studio","bold","broadcast","editorial","neon","custom"]},"fontFamily":{"type":"string","minLength":1,"maxLength":200},"primaryColor":{"type":"string","minLength":1,"maxLength":100},"backgroundColor":{"type":"string","minLength":1,"maxLength":100},"accentColor":{"type":"string","minLength":1,"maxLength":100},"captionPreset":{"type":"string","enum":["wordFocus","wordPair","chunkBar","karaokeClean","cinematicFocus","bigHook","buildLine","highlighterBox","keywordPunch","slamPop","extrudeStack","koVarietyShow","jaTelopMinimal","arRtlBar","cleanLower","purpleHighlight","underlineShadow","lineCard","wordPop","wordBadge","boldYellow","whiteBox","neonCaption","wordCenter"]},"frame":{"type":"object","properties":{"borderRadius":{"type":"number","minimum":0,"maximum":64},"borderWidth":{"type":"number","minimum":0,"maximum":24},"borderColor":{"type":"string","minLength":1,"maxLength":100},"shadow":{"type":"string","enum":["none","soft","strong"]}},"required":["borderRadius","borderWidth","borderColor","shadow"]},"logo":{"type":"object","properties":{"workspaceAssetId":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1,"maxLength":120},"imageUrl":{"type":"string","format":"uri"},"position":{"type":"string","enum":["top-left","top-right","bottom-left","bottom-right"]},"sizePercent":{"type":"number","minimum":6,"maximum":30},"opacity":{"type":"number","minimum":0.2,"maximum":1}},"required":["name","imageUrl","position","sizePercent","opacity"]}},"required":["version","preset","fontFamily","primaryColor","backgroundColor","accentColor","frame"]},"templateContentBindingsVersion":{"type":"string","enum":["1"]},"styleProfileId":{"type":"string"},"styleProfileSource":{"type":"string","enum":["user","auto"]},"captionStylePreset":{"type":"string","enum":["wordFocus","wordPair","chunkBar","karaokeClean","cinematicFocus","bigHook","buildLine","highlighterBox","keywordPunch","slamPop","extrudeStack","koVarietyShow","jaTelopMinimal","arRtlBar","cleanLower","purpleHighlight","underlineShadow","lineCard","wordPop","wordBadge","boldYellow","whiteBox","neonCaption","wordCenter"]},"templateAllocation":{"type":"object","properties":{"version":{"type":"string","enum":["2"]},"seed":{"type":"string","format":"uuid"},"decisions":{"type":"array","items":{"type":"object","properties":{"sceneIndex":{"type":"integer","minimum":0},"selectedTemplateId":{"type":"string"},"candidateTemplateIds":{"type":"array","items":{"type":"string"},"maxItems":5},"candidateFitScores":{"type":"array","items":{"type":"number","minimum":0,"maximum":100},"maxItems":5},"source":{"type":"string","enum":["ranked","preferred","hold-group","fallback"]}},"required":["sceneIndex","candidateTemplateIds","candidateFitScores","source"]},"maxItems":80}},"required":["version","seed","decisions"]},"captionPunch":{"type":"object","properties":{"enabled":{"type":"boolean"},"preset":{"type":"string","enum":["presetAware","impactCard"]},"accentColor":{"type":"string","minLength":1},"position":{"type":"string","enum":["auto"]}}},"brandReferenceImageUrls":{"type":"array","items":{"type":"string","format":"uri"},"maxItems":3},"aiAvatarReferenceUrl":{"type":"string","format":"uri"},"aiVisualDirection":{"type":"string","maxLength":2000},"brandAiMode":{"type":"boolean"},"brandAiVideoMode":{"type":"boolean"},"brandAiVideoScope":{"type":"string","enum":["all-scenes"]},"userMediaOnly":{"type":"boolean"},"creationSettings":{"type":"object","properties":{"generateSoundtrack":{"type":"boolean"},"soundtrackMode":{"type":"string","enum":["none","template","generate"]},"quotedCredits":{"type":"integer","minimum":0},"generationPipeline":{"type":"string","enum":["foundation","mixed-media"]},"imageSearchSource":{"type":"string","enum":["commercial","internet"]},"mediaType":{"type":"string","enum":["all","image","video"]},"mediaSource":{"type":"string","enum":["internet","commercial","brand-ai","brand-ai-video","user-media"]},"mediaPlanningMode":{"type":"string","enum":["legacy-finalize","review-selected-1n"]},"mediaPlanVersion":{"type":"string","enum":["1"]},"visualModePolicy":{"type":"string","enum":["current-binary","broll-free","best-fit","free-only","directed-only"]},"directedBrollContract":{"type":"string","enum":["legacy-pixel-dominant","story-first","text-only"]}},"required":["generateSoundtrack","quotedCredits"]},"sourceVideo":{"oneOf":[{"type":"object","properties":{"mediaUrl":{"type":"string","format":"uri"},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"mode":{"type":"string","enum":["auto-edit"]},"framing":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["crop"]}},"required":["mode"]},{"type":"object","properties":{"mode":{"type":"string","enum":["background-fill"]},"background":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]}},"required":["mode","background"]}]},"visualPolicy":{"type":"string","enum":["editable"]},"editStrategy":{"type":"string","enum":["speech-highlights","visual-highlights","mixed-highlights"]},"analysisSummary":{"type":"string","minLength":1,"maxLength":1200},"speechDetected":{"type":"boolean"},"speechRole":{"type":"string","enum":["primary","supporting","incidental-music","none"]},"creativeTreatment":{"type":"object","properties":{"archetype":{"type":"string","enum":["spoken-insight","product-demo","process","vlog","event-montage","cinematic-moment","mixed-story"]},"pace":{"type":"string","enum":["calm","balanced","punchy"]},"textStyle":{"type":"string","enum":["none","minimal","editorial","bold"]},"colorGrade":{"type":"string","enum":["natural","clean","vivid","cinematic","soft"]},"soundMode":{"type":"string","enum":["source-only","source-plus-music","music-led"]},"captionPreset":{"type":"string","enum":["wordFocus","wordPair","chunkBar","karaokeClean","cinematicFocus","bigHook","buildLine","highlighterBox","keywordPunch","slamPop","extrudeStack","koVarietyShow","jaTelopMinimal","arRtlBar","cleanLower","purpleHighlight","underlineShadow","lineCard","wordPop","wordBadge","boldYellow","whiteBox","neonCaption","wordCenter"]},"accentColor":{"type":"string","pattern":"^#[0-9a-fA-F]{6}$"},"fontFamily":{"type":"string","enum":["Inter","Poppins"]},"directionSummary":{"type":"string","minLength":1,"maxLength":500}},"required":["archetype","pace","textStyle","colorGrade","soundMode","captionPreset","accentColor","fontFamily","directionSummary"]}},"required":["mediaUrl","durationSeconds","mode","visualPolicy","editStrategy","analysisSummary","speechDetected"]},{"type":"object","properties":{"mediaUrl":{"type":"string","format":"uri"},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"mode":{"type":"string","enum":["recorded-speech"]},"visualPolicy":{"type":"string","enum":["editable"]},"framing":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["crop"]}},"required":["mode"]},{"type":"object","properties":{"mode":{"type":"string","enum":["background-fill"]},"background":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]}},"required":["mode","background"]}]}},"required":["mediaUrl","durationSeconds","mode","visualPolicy"]},{"type":"object","properties":{"mediaUrl":{"type":"string","format":"uri"},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"mode":{"type":"string","enum":["scripted-voiceover"]},"visualPolicy":{"type":"string","enum":["locked"]},"framing":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["crop"]}},"required":["mode"]},{"type":"object","properties":{"mode":{"type":"string","enum":["background-fill"]},"background":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]}},"required":["mode","background"]}]}},"required":["mediaUrl","durationSeconds","mode","visualPolicy"]},{"type":"object","properties":{"mediaUrl":{"type":"string","format":"uri"},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"mode":{"type":"string","enum":["manual"]},"visualPolicy":{"type":"string","enum":["editable"]},"framing":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["crop"]}},"required":["mode"]},{"type":"object","properties":{"mode":{"type":"string","enum":["background-fill"]},"background":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]}},"required":["mode","background"]}]}},"required":["mediaUrl","durationSeconds","mode","visualPolicy"]}]},"compositionMode":{"type":"string","enum":["template","authored"]},"typographyArtDirection":{"type":"object","properties":{"concept":{"type":"string","minLength":5,"maxLength":700},"displayFontFamily":{"type":"string","minLength":1,"maxLength":120},"supportFontFamily":{"type":"string","minLength":1,"maxLength":120},"roles":{"type":"object","properties":{"display":{"type":"object","properties":{"font":{"type":"string","enum":["display","support"]},"fontWeight":{"type":"string","enum":["500","600","700","800","900"]},"lineHeight":{"type":"number","minimum":0.85,"maximum":1.6},"letterSpacingEm":{"type":"number","minimum":-0.08,"maximum":0.12},"motion":{"type":"string","minLength":3,"maxLength":400}},"required":["font","fontWeight","lineHeight","letterSpacingEm","motion"]},"headline":{"type":"object","properties":{"font":{"type":"string","enum":["display","support"]},"fontWeight":{"type":"string","enum":["500","600","700","800","900"]},"lineHeight":{"type":"number","minimum":0.85,"maximum":1.6},"letterSpacingEm":{"type":"number","minimum":-0.08,"maximum":0.12},"motion":{"type":"string","minLength":3,"maxLength":400}},"required":["font","fontWeight","lineHeight","letterSpacingEm","motion"]},"support":{"type":"object","properties":{"font":{"type":"string","enum":["display","support"]},"fontWeight":{"type":"string","enum":["500","600","700","800","900"]},"lineHeight":{"type":"number","minimum":0.85,"maximum":1.6},"letterSpacingEm":{"type":"number","minimum":-0.08,"maximum":0.12},"motion":{"type":"string","minLength":3,"maxLength":400}},"required":["font","fontWeight","lineHeight","letterSpacingEm","motion"]},"badge":{"type":"object","properties":{"font":{"type":"string","enum":["display","support"]},"fontWeight":{"type":"string","enum":["500","600","700","800","900"]},"lineHeight":{"type":"number","minimum":0.85,"maximum":1.6},"letterSpacingEm":{"type":"number","minimum":-0.08,"maximum":0.12},"motion":{"type":"string","minLength":3,"maxLength":400}},"required":["font","fontWeight","lineHeight","letterSpacingEm","motion"]},"number":{"type":"object","properties":{"font":{"type":"string","enum":["display","support"]},"fontWeight":{"type":"string","enum":["500","600","700","800","900"]},"lineHeight":{"type":"number","minimum":0.85,"maximum":1.6},"letterSpacingEm":{"type":"number","minimum":-0.08,"maximum":0.12},"motion":{"type":"string","minLength":3,"maxLength":400}},"required":["font","fontWeight","lineHeight","letterSpacingEm","motion"]}},"required":["display","headline","support","badge","number"]}},"required":["concept","displayFontFamily","supportFontFamily","roles"]},"designDirection":{"type":"object","properties":{"version":{"type":"string","enum":["1"]},"intent":{"type":"object","properties":{"summary":{"type":"string","minLength":5,"maxLength":600},"explicitVisualRequests":{"type":"array","items":{"type":"string","minLength":2,"maxLength":240},"maxItems":10},"mustRender":{"type":"array","items":{"type":"string","minLength":2,"maxLength":240},"maxItems":10},"brandConstraints":{"type":"array","items":{"type":"string","minLength":2,"maxLength":240},"maxItems":8}},"required":["summary","explicitVisualRequests","mustRender","brandConstraints"]},"candidates":{"type":"array","items":{"type":"object","properties":{"routeId":{"type":"string","enum":["route-a","route-b","route-c"]},"name":{"type":"string","minLength":3,"maxLength":100},"thesis":{"type":"string","minLength":10,"maxLength":500},"contentFit":{"type":"string","minLength":10,"maxLength":500},"noveltyAgainstHistory":{"type":"string","minLength":5,"maxLength":400},"spatialTopology":{"type":"string","minLength":3,"maxLength":240},"dominantStage":{"type":"string","minLength":3,"maxLength":160},"materialLanguage":{"type":"string","minLength":3,"maxLength":240},"containerPolicy":{"type":"string","minLength":3,"maxLength":240},"alignmentPolicy":{"type":"string","minLength":3,"maxLength":240},"typographyBehavior":{"type":"string","minLength":3,"maxLength":240},"paletteBehavior":{"type":"string","minLength":3,"maxLength":240},"mediaRelationship":{"type":"string","minLength":3,"maxLength":240},"motionPhysics":{"type":"string","minLength":3,"maxLength":240},"motionVerbs":{"type":"array","items":{"type":"string","minLength":2,"maxLength":80},"minItems":2,"maxItems":6},"recurringMotifs":{"type":"array","items":{"type":"string","minLength":2,"maxLength":160},"minItems":1,"maxItems":5},"formFamilies":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":2,"maxLength":80},"semanticUse":{"type":"string","minLength":5,"maxLength":300},"compositionTopology":{"type":"string","minLength":3,"maxLength":240},"motionMechanism":{"type":"string","minLength":3,"maxLength":240},"variationRange":{"type":"string","minLength":3,"maxLength":240}},"required":["id","semanticUse","compositionTopology","motionMechanism","variationRange"]},"minItems":2,"maxItems":4},"mustRender":{"type":"array","items":{"type":"string","minLength":2,"maxLength":240},"maxItems":10}},"required":["routeId","name","thesis","contentFit","noveltyAgainstHistory","spatialTopology","dominantStage","materialLanguage","containerPolicy","alignmentPolicy","typographyBehavior","paletteBehavior","mediaRelationship","motionPhysics","motionVerbs","recurringMotifs","formFamilies","mustRender"]}},"selected":{"type":"object","properties":{"routeId":{"type":"string","enum":["route-a","route-b","route-c"]},"name":{"type":"string","minLength":3,"maxLength":100},"thesis":{"type":"string","minLength":10,"maxLength":500},"contentFit":{"type":"string","minLength":10,"maxLength":500},"noveltyAgainstHistory":{"type":"string","minLength":5,"maxLength":400},"spatialTopology":{"type":"string","minLength":3,"maxLength":240},"dominantStage":{"type":"string","minLength":3,"maxLength":160},"materialLanguage":{"type":"string","minLength":3,"maxLength":240},"containerPolicy":{"type":"string","minLength":3,"maxLength":240},"alignmentPolicy":{"type":"string","minLength":3,"maxLength":240},"typographyBehavior":{"type":"string","minLength":3,"maxLength":240},"paletteBehavior":{"type":"string","minLength":3,"maxLength":240},"mediaRelationship":{"type":"string","minLength":3,"maxLength":240},"motionPhysics":{"type":"string","minLength":3,"maxLength":240},"motionVerbs":{"type":"array","items":{"type":"string","minLength":2,"maxLength":80},"minItems":2,"maxItems":6},"recurringMotifs":{"type":"array","items":{"type":"string","minLength":2,"maxLength":160},"minItems":1,"maxItems":5},"formFamilies":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":2,"maxLength":80},"semanticUse":{"type":"string","minLength":5,"maxLength":300},"compositionTopology":{"type":"string","minLength":3,"maxLength":240},"motionMechanism":{"type":"string","minLength":3,"maxLength":240},"variationRange":{"type":"string","minLength":3,"maxLength":240}},"required":["id","semanticUse","compositionTopology","motionMechanism","variationRange"]},"minItems":2,"maxItems":4},"mustRender":{"type":"array","items":{"type":"string","minLength":2,"maxLength":240},"maxItems":10},"selectionReason":{"type":"string","minLength":10,"maxLength":600}},"required":["routeId","name","thesis","contentFit","noveltyAgainstHistory","spatialTopology","dominantStage","materialLanguage","containerPolicy","alignmentPolicy","typographyBehavior","paletteBehavior","mediaRelationship","motionPhysics","motionVerbs","recurringMotifs","formFamilies","mustRender","selectionReason"]},"generatedAt":{"type":"string","format":"date-time"}},"required":["version","intent","candidates","selected","generatedAt"]},"pacing":{"type":"object","properties":{"avgSceneSeconds":{"type":"number","minimum":0.5,"maximum":60},"cutsPerScene":{"type":"integer","minimum":1,"maximum":8},"policy":{"type":"string","enum":["voice","fixed","ratio"]}}},"scenes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"title":{"type":"string","minLength":1},"script":{"type":"string"},"searchQuery":{"type":"string","minLength":1},"fallbackSearchQuery":{"type":"string","minLength":1},"contextualSearchQuery":{"type":"string","minLength":1},"videoQuery":{"type":"string","minLength":1},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"durationPolicy":{"type":"string","enum":["voice","fixed","ratio"]},"targetDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":60},"overflowPolicy":{"type":"string","enum":["speed-up","trim-script","extend-scene"]},"speakingRateOverride":{"type":"number","minimum":0.85,"maximum":1.25},"narrationMode":{"type":"string","enum":["required","optional","none"]},"backgroundAssetId":{"type":"string","minLength":1},"backgroundShots":{"type":"array","items":{"type":"object","properties":{"assetId":{"type":"string","minLength":1},"startSeconds":{"type":"number","minimum":0},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"transitionIn":{"type":"object","properties":{"type":{"type":"string","enum":["none","fade","slide","wipe","zoom","blurDissolve","diagonalWipe","verticalBlur","whipPan","dipBlack","radialZoom","obliqueSwap","beforeAfterSweep","evidenceReturn","insetExpand","seamBlend","aepWave","aepGrid","aepTwist"]},"durationSeconds":{"type":"number","minimum":0,"maximum":3},"direction":{"type":"string","enum":["left","right","up","down"]},"transitionScope":{"type":"string","enum":["scene","all"]},"appliedAt":{"type":"string"}},"required":["type","durationSeconds"]}},"required":["assetId","startSeconds","durationSeconds"]},"maxItems":12},"backgroundStyle":{"type":"object","properties":{"type":{"type":"string","enum":["solid","linear-gradient","radial-gradient","image"]},"imageUrl":{"type":"string","format":"uri","pattern":"^https?:\\/\\/"},"color":{"type":"string","minLength":1},"color2":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360},"opacity":{"type":"number","minimum":0,"maximum":1},"scope":{"type":"string","enum":["scene","all"]},"appliedAt":{"type":"string"}},"required":["type","color"]},"role":{"type":"string","enum":["hook","body","cta"]},"templateId":{"type":"string"},"sceneType":{"type":"string","enum":["standard","motion-graphic"]},"motionGraphic":{"type":"object","properties":{"rootAssetId":{"type":"string","minLength":1},"bindings":{"type":"array","items":{"type":"object","properties":{"prop":{"type":"string","minLength":1,"maxLength":40},"assetId":{"type":"string","minLength":1},"field":{"type":"string","enum":["text","url"]},"required":{"type":"boolean"}},"required":["prop","assetId","field"]}},"requiredAssetIds":{"type":"array","items":{"type":"string","minLength":1}},"useSemanticTextBindings":{"type":"boolean"},"backgroundPolicy":{"type":"string","enum":["preserve","replace"]},"mediaLayerPolicy":{"type":"string","enum":["component-owned","native"]}},"required":["rootAssetId","bindings"]},"mediaGenerationPolicy":{"type":"string","enum":["generate","skip"]},"mediaPlan":{"type":"object","properties":{"status":{"type":"string","enum":["selected","locked"]},"assetIds":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"maxItems":6},"primaryAssetId":{"type":"string","minLength":1},"plannedAt":{"type":"string","format":"date-time"}},"required":["status","assetIds","primaryAssetId"]},"visualKind":{"type":"string","enum":["photo","interface"]},"holdGroup":{"type":"string","minLength":1},"captionHidden":{"type":"boolean"},"assets":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"kind":{"type":"string","enum":["image","video","audio","text","shape","avatar","chart","component"],"default":"image"},"source":{"type":"string","enum":["auto-search","generated-image","generated-video","stock","upload","slide-import","recording","avatar","audio","shape","text"]},"query":{"type":"string"},"label":{"type":"string","minLength":1},"hidden":{"type":"boolean"},"locked":{"type":"boolean"},"text":{"type":"string"},"isDraftText":{"type":"boolean"},"typography":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"maxItems":4},"fontSizePx":{"type":"number","minimum":12,"maximum":400},"role":{"type":"string","enum":["display","headline","support","badge","number"]},"source":{"type":"string","enum":["ai-layout"]}},"required":["lines","source"]},"textWrapMode":{"type":"string","enum":["semantic"]},"textRuns":{"type":"array","items":{"type":"object","properties":{"start":{"type":"integer","minimum":0},"end":{"type":"integer","minimum":0},"color":{"type":"string"},"bold":{"type":"boolean"},"highlightColor":{"type":"string"}},"required":["start","end"]},"maxItems":64},"shapeType":{"type":"string","enum":["line","arrow","rectangle","roundedRectangle","triangle","circle","diamond","callout","star","heart","plus","bracket","check","cross","scribbleCircle","roughUnderline","sketchArrow","sparkle"]},"chart":{"type":"object","properties":{"type":{"type":"string","enum":["bar","donut","line"]},"series":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","maxLength":40},"value":{"type":"number"},"color":{"type":"string"}},"required":["label","value"]},"minItems":1,"maxItems":8},"showValues":{"type":"boolean"}},"required":["type","series"]},"component":{"type":"object","properties":{"componentId":{"type":"string","minLength":1},"props":{"type":"object","additionalProperties":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"nullable":true}]},"default":{}},"typography":{"type":"object","additionalProperties":{"type":"object","properties":{"role":{"type":"string","enum":["display","headline","support","badge","number"]},"fontSizePx":{"type":"number","minimum":12,"maximum":400},"fontFamily":{"type":"string","minLength":1,"maxLength":120},"fontWeight":{"type":"string","enum":["500","600","700","800","900"]},"lineHeight":{"type":"number","minimum":0.85,"maximum":1.6},"letterSpacingEm":{"type":"number","minimum":-0.08,"maximum":0.12}},"required":["role","fontSizePx","fontFamily","fontWeight","lineHeight","letterSpacingEm"]}},"editableLayout":{"type":"object","additionalProperties":{"type":"object","properties":{"offsetX":{"type":"number","minimum":-4000,"maximum":4000},"offsetY":{"type":"number","minimum":-4000,"maximum":4000},"scale":{"type":"number","minimum":0.1,"maximum":5},"scaleX":{"type":"number","minimum":0.1,"maximum":5},"scaleY":{"type":"number","minimum":0.1,"maximum":5}},"required":["offsetX","offsetY"]}},"hiddenEditableLayerIds":{"type":"array","items":{"type":"string","minLength":1,"maxLength":80},"maxItems":80},"render":{"type":"string","enum":["live","prerendered"],"default":"live"},"scenePersistent":{"type":"boolean"},"timelineOffsetSeconds":{"type":"number","minimum":0},"timelineDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"prerenderedUrl":{"type":"string","format":"uri"},"prerenderedHash":{"type":"string"},"contentBox":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"},"width":{"type":"number"},"height":{"type":"number"}},"required":["x","y","width","height"]}},"required":["componentId"]},"altText":{"type":"string"},"url":{"type":"string"},"thumbnailUrl":{"type":"string"},"sourceUrl":{"type":"string"},"provider":{"type":"string"},"trackId":{"type":"string"},"groupId":{"type":"string"},"role":{"type":"string","enum":["background","overlay","voiceover","music","caption","shape","sfx"]},"startSeconds":{"type":"number","minimum":0},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceWidth":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceHeight":{"type":"number","minimum":0,"exclusiveMinimum":true},"searchStatus":{"type":"string","enum":["pending","searching","selected","not-found","manual"]},"candidates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"title":{"type":"string","minLength":1},"imageUrl":{"type":"string","format":"uri"},"thumbnailUrl":{"type":"string","format":"uri"},"sourceUrl":{"type":"string","format":"uri"},"provider":{"type":"string"},"width":{"type":"number"},"height":{"type":"number"},"kind":{"type":"string","enum":["image","video"]},"durationSeconds":{"type":"number"}},"required":["id","title","imageUrl"]}},"layout":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"},"width":{"type":"number","minimum":0,"exclusiveMinimum":true},"height":{"type":"number","minimum":0,"exclusiveMinimum":true},"rotation":{"type":"number"},"opacity":{"type":"number","minimum":0,"maximum":1},"fit":{"type":"string","enum":["cover","contain","fill"]},"zIndex":{"type":"integer"},"lockAspectRatio":{"type":"boolean"}},"required":["x","y","width","height","rotation","opacity","fit","zIndex"]},"autoFitText":{"type":"boolean"},"style":{"type":"object","properties":{"backgroundColor":{"type":"string"},"color":{"type":"string"},"textColorOverride":{"type":"boolean"},"textBackgroundColorOverride":{"type":"boolean"},"fontFamily":{"type":"string"},"fontSize":{"type":"number"},"fontWeight":{"type":"string"},"lineHeight":{"type":"number","minimum":0.85,"maximum":2.2},"letterSpacingEm":{"type":"number","minimum":-0.12,"maximum":0.2},"textAlign":{"type":"string","enum":["left","center","right"]},"borderRadius":{"type":"number"},"maskShape":{"type":"string","enum":["rectangle","rounded","circle","diamond"]},"borderColor":{"type":"string"},"borderWidth":{"type":"number","minimum":0,"maximum":24},"brightness":{"type":"number","minimum":0,"maximum":200},"contrast":{"type":"number","minimum":0,"maximum":200},"saturation":{"type":"number","minimum":0,"maximum":200},"backgroundFill":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]},"flipHorizontal":{"type":"boolean"},"focalX":{"type":"number","minimum":0,"maximum":1},"focalY":{"type":"number","minimum":0,"maximum":1},"focalZoom":{"type":"number","minimum":1,"maximum":3},"sourceCrop":{"type":"object","properties":{"x":{"type":"number","minimum":0,"maximum":1},"y":{"type":"number","minimum":0,"maximum":1},"width":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":1},"height":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":1}},"required":["x","y","width","height"]},"captionEffect":{"type":"string","enum":["none","karaoke","cinematicFocus","line","word","wordPair","cumulative","activeBox","activeUnderline","keywordPunch","slamPop","extrudeStack","typewriter","pop","bounce","fade","slideUp"]},"captionTransition":{"type":"string","enum":["cut","crossfade","slideUp"]},"captionEmphasis":{"type":"string","enum":["preset-aware"]},"karaokeMode":{"type":"string","enum":["sweep","active-word"]},"captionPreset":{"type":"string","enum":["wordFocus","wordPair","chunkBar","karaokeClean","cinematicFocus","bigHook","buildLine","highlighterBox","keywordPunch","slamPop","extrudeStack","koVarietyShow","jaTelopMinimal","arRtlBar","cleanLower","purpleHighlight","underlineShadow","lineCard","wordPop","wordBadge","boldYellow","whiteBox","neonCaption","wordCenter"]},"textPreset":{"type":"string","enum":["cleanPunch","markerSwipe","inkBar","paperTag","accentStat","serifQuote","stickerPop","extrude3d","boxedHook","highlightMarker","editorialBar","softCard","boldFill","outline","underlineAccent","gradientPop","glassLight","neonGlow","blockShadow","pillBadge","darkBar"]},"dropShadow":{"type":"object","properties":{"enabled":{"type":"boolean"},"blur":{"type":"number","minimum":0,"maximum":80},"distance":{"type":"number","minimum":0,"maximum":80},"angle":{"type":"number","minimum":0,"maximum":360},"color":{"type":"string"},"opacity":{"type":"number","minimum":0,"maximum":1}},"required":["enabled","blur","distance","angle","color","opacity"]}}},"animation":{"type":"object","properties":{"mode":{"type":"string","enum":["enter-exit","loop","photo-effect"]},"enterStyle":{"type":"string","enum":["none","fade","slide","rise","zoom","pop","bounce","blurIn","flip","spin","stretch"]},"exitStyle":{"type":"string","enum":["none","fade","slide","rise","zoom","pop","bounce","blurIn","flip","spin","stretch"]},"loopStyle":{"type":"string","enum":["none","pulse","pan","zoom","shake"]},"photoEffect":{"type":"string","enum":["none","pan","zoom","punch"]},"durationSeconds":{"type":"number","minimum":0.1,"maximum":30},"direction":{"type":"string","enum":["left","right","up","down"]},"separateEnterExit":{"type":"boolean"},"textUnit":{"type":"string","enum":["whole","paragraph","word","character"]},"countUp":{"type":"boolean"},"reverseOnLoop":{"type":"boolean"},"intensity":{"type":"number","minimum":0.2,"maximum":2},"zoomDirection":{"type":"string","enum":["in","out"]}},"required":["mode","durationSeconds"]},"audio":{"type":"object","properties":{"volumePercent":{"type":"number","minimum":0,"maximum":200},"fadeInSeconds":{"type":"number","minimum":0,"maximum":10},"fadeOutSeconds":{"type":"number","minimum":0,"maximum":10},"ducking":{"type":"string","enum":["none","narrative","background"]},"balanceScope":{"type":"string","enum":["track","all"]},"balancedAt":{"type":"string"},"loopCrossfadeSeconds":{"type":"number","minimum":0,"maximum":6},"loopSourceSeconds":{"type":"number","minimum":0.1,"maximum":3600}},"required":["volumePercent","fadeInSeconds","fadeOutSeconds","ducking"]},"playback":{"type":"object","properties":{"startSeconds":{"type":"number","minimum":0},"endSeconds":{"type":"number","minimum":0},"loop":{"type":"boolean"},"playbackRate":{"type":"number","minimum":0.25,"maximum":4}}}},"required":["id","source","label","role","startSeconds","durationSeconds"]},"minItems":1},"sourceSpeech":{"type":"object","properties":{"mediaUrl":{"type":"string","format":"uri"},"startSeconds":{"type":"number","minimum":0},"endSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true}},"required":["mediaUrl","startSeconds","endSeconds"]},"customVoiceover":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"transcript":{"type":"string","minLength":1},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"wordTimings":{"type":"array","items":{"type":"object","properties":{"word":{"type":"string","minLength":1},"startSeconds":{"type":"number","minimum":0},"endSeconds":{"type":"number","minimum":0},"captionHidden":{"type":"boolean"},"emphasis":{"type":"boolean"}},"required":["word","startSeconds","endSeconds"]},"minItems":1}},"required":["url","transcript","durationSeconds","wordTimings"]},"sourceEdit":{"type":"object","properties":{"type":{"type":"string","enum":["longform"]},"origin":{"type":"string","enum":["highlight","user-inserted","duplicated"]},"candidateId":{"type":"string","minLength":1},"originalRange":{"type":"object","properties":{"sourceStartSeconds":{"type":"number","minimum":0},"sourceEndSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true}},"required":["sourceStartSeconds","sourceEndSeconds"]},"slices":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"sourceStartSeconds":{"type":"number","minimum":0},"sourceEndSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceWordIds":{"type":"array","items":{"type":"string","minLength":1},"maxItems":2000}},"required":["id","sourceStartSeconds","sourceEndSeconds","sourceWordIds"]},"minItems":1,"maxItems":120},"captions":{"type":"object","properties":{"hidden":{"type":"boolean"},"hiddenSourceWordIds":{"type":"array","items":{"type":"string","minLength":1},"maxItems":2000},"emphasizedSourceWordIds":{"type":"array","items":{"type":"string","minLength":1},"maxItems":2000},"wordOverrides":{"type":"array","items":{"type":"object","properties":{"sourceWordId":{"type":"string","minLength":1},"text":{"type":"string","minLength":1,"maxLength":200}},"required":["sourceWordId","text"]},"maxItems":2000},"preset":{"type":"string","enum":["wordFocus","wordPair","chunkBar","karaokeClean","cinematicFocus","bigHook","buildLine","highlighterBox","keywordPunch","slamPop","extrudeStack","koVarietyShow","jaTelopMinimal","arRtlBar","cleanLower","purpleHighlight","underlineShadow","lineCard","wordPop","wordBadge","boldYellow","whiteBox","neonCaption","wordCenter"]},"fontFamily":{"type":"string","minLength":1,"maxLength":200},"fontSize":{"type":"number","minimum":24,"maximum":160},"color":{"type":"string","minLength":1,"maxLength":100},"accentColor":{"type":"string","minLength":1,"maxLength":100},"positionY":{"type":"number","minimum":0.05,"maximum":0.9}}},"titleOverlay":{"type":"object","properties":{"hidden":{"type":"boolean"},"text":{"type":"string","maxLength":240},"fontFamily":{"type":"string","minLength":1,"maxLength":200},"fontSize":{"type":"number","minimum":20,"maximum":160},"textColor":{"type":"string","minLength":1,"maxLength":100},"backgroundColor":{"type":"string","minLength":1,"maxLength":100},"backgroundOpacity":{"type":"number","minimum":0,"maximum":1},"position":{"type":"string","enum":["top-left","top-center","top-right","bottom-left","bottom-center","bottom-right"]},"offsetY":{"type":"number","minimum":0,"maximum":45}},"required":["text"]}},"required":["type","origin","slices"]},"sourceLayout":{"type":"object","properties":{"preset":{"type":"string","enum":["smart-crop","fit-background","landscape-card","speaker-focus","two-speaker-split","screen-focus","screen-speaker-pip","stacked-source"]},"selection":{"type":"string","enum":["ai-recommended","manual"]},"recommendationRevision":{"type":"integer","minimum":0,"exclusiveMinimum":true},"regions":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string","enum":["primary","secondary","screen","speaker"]},"sourceCrop":{"type":"object","properties":{"x":{"type":"number","minimum":0,"maximum":1},"y":{"type":"number","minimum":0,"maximum":1},"width":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":1},"height":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":1}},"required":["x","y","width","height"]},"outputFrame":{"type":"object","properties":{"x":{"type":"number","minimum":0,"maximum":1},"y":{"type":"number","minimum":0,"maximum":1},"width":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":1},"height":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":1}},"required":["x","y","width","height"]}},"required":["role","sourceCrop","outputFrame"]},"minItems":1,"maxItems":2},"background":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"value":{"type":"string","minLength":1}},"required":["type","value"]}]},"dividerRatio":{"type":"number","minimum":0.2,"maximum":0.8}},"required":["preset","selection","regions"]},"elements":{"type":"array","items":{"nullable":true}},"narration":{"type":"object","properties":{"text":{"type":"string","minLength":1},"status":{"type":"string","enum":["draft","timed","tts-ready","stt-aligned"]},"voiceName":{"type":"string","minLength":1},"voiceId":{"type":"string"},"speakingRate":{"type":"number","minimum":0,"exclusiveMinimum":true},"estimatedDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"wordsPerMinute":{"type":"number","minimum":0,"exclusiveMinimum":true},"wordTimings":{"type":"array","items":{"type":"object","properties":{"word":{"type":"string","minLength":1},"startSeconds":{"type":"number","minimum":0},"endSeconds":{"type":"number","minimum":0},"captionHidden":{"type":"boolean"},"emphasis":{"type":"boolean"}},"required":["word","startSeconds","endSeconds"]}},"timing":{"type":"object","properties":{"source":{"type":"string","enum":["estimated-wpm","tts-generated","stt-aligned"]},"scenePaddingSeconds":{"type":"number","minimum":0,"maximum":3},"spokenDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sceneDurationBeforeSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sceneDurationAfterSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"durationPolicy":{"type":"string","enum":["fit-to-voiceover","fixed-scene","ratio-scene"]},"overflow":{"type":"object","properties":{"resolvedBy":{"type":"string","enum":["speed-up","trim-script","extend-scene"]},"appliedSpeakingRate":{"type":"number","minimum":0,"exclusiveMinimum":true},"unabsorbedSeconds":{"type":"number","minimum":0}},"required":["resolvedBy","appliedSpeakingRate","unabsorbedSeconds"]}},"required":["source","scenePaddingSeconds","spokenDurationSeconds","sceneDurationBeforeSeconds","sceneDurationAfterSeconds"]}},"required":["text","status","voiceName","estimatedDurationSeconds","wordsPerMinute","wordTimings"]},"chartData":{"type":"object","properties":{"series":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","maxLength":40},"value":{"type":"number"}},"required":["label","value"]},"minItems":1,"maxItems":8}},"required":["series"]},"previewTts":{"type":"object","properties":{"audioUrl":{"type":"string","minLength":1},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"voiceId":{"type":"string","minLength":1},"ttsProvider":{"type":"string","enum":["inworld","fish-audio","typecast"]},"speakingRate":{"type":"number","minimum":0.5,"maximum":2},"text":{"type":"string","minLength":1},"previousText":{"type":"string"},"nextText":{"type":"string"}},"required":["audioUrl","durationSeconds","voiceId","ttsProvider","speakingRate","text"]},"teleprompter":{"type":"object","properties":{"mode":{"type":"string","enum":["off","rolling","read-along"]},"textSize":{"type":"number","minimum":16,"maximum":40},"scrollSpeed":{"type":"number","minimum":0.5,"maximum":2},"position":{"type":"string","enum":["below-camera","center","bottom"]}},"required":["mode","textSize","scrollSpeed","position"]},"transitionIn":{"type":"object","properties":{"type":{"type":"string","enum":["none","fade","slide","wipe","zoom","blurDissolve","diagonalWipe","verticalBlur","whipPan","dipBlack","radialZoom","obliqueSwap","beforeAfterSweep","evidenceReturn","insetExpand","seamBlend","aepWave","aepGrid","aepTwist"]},"durationSeconds":{"type":"number","minimum":0,"maximum":3},"direction":{"type":"string","enum":["left","right","up","down"]},"transitionScope":{"type":"string","enum":["scene","all"]},"appliedAt":{"type":"string"}},"required":["type","durationSeconds"]},"transitionOut":{"type":"object","properties":{"type":{"type":"string","enum":["none","fade","slide","wipe","zoom","blurDissolve","diagonalWipe","verticalBlur","whipPan","dipBlack","radialZoom","obliqueSwap","beforeAfterSweep","evidenceReturn","insetExpand","seamBlend","aepWave","aepGrid","aepTwist"]},"durationSeconds":{"type":"number","minimum":0,"maximum":3},"direction":{"type":"string","enum":["left","right","up","down"]},"transitionScope":{"type":"string","enum":["scene","all"]},"appliedAt":{"type":"string"}},"required":["type","durationSeconds"]},"sceneEffect":{"type":"object","properties":{"type":{"type":"string","enum":["beatShake","zoomPunch","flash","glitch","bling","radialBlur","speedLines","vhs","neonGlow","vignettePulse","lightLeak","filmGrain","confetti"]},"intensity":{"type":"number","minimum":0,"maximum":1}},"required":["type"]},"nativeMediaTreatment":{"type":"object","properties":{"type":{"type":"string","enum":["focusSettle","gentlePush","verticalPan","monochromeResolve","softVignette","cinemaOpen","snapReframe","glassLight","realtorMask","realtorKinetic"]},"intensity":{"type":"number","minimum":0.2,"maximum":2}},"required":["type"]},"notes":{"type":"string"},"comments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"authorName":{"type":"string","minLength":1},"body":{"type":"string","minLength":1},"status":{"type":"string","enum":["active","resolved"]},"createdAt":{"type":"string","minLength":1},"anchorAssetId":{"type":"string"}},"required":["id","authorName","body","status","createdAt"]}},"transcriptSnapshot":{"type":"object","properties":{"savedAt":{"type":"string","minLength":1},"reason":{"type":"string","enum":["word","fillers","silence","single-silence"]},"script":{"type":"string","minLength":1},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"narration":{"type":"object","properties":{"text":{"type":"string","minLength":1},"status":{"type":"string","enum":["draft","timed","tts-ready","stt-aligned"]},"voiceName":{"type":"string","minLength":1},"voiceId":{"type":"string"},"speakingRate":{"type":"number","minimum":0,"exclusiveMinimum":true},"estimatedDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"wordsPerMinute":{"type":"number","minimum":0,"exclusiveMinimum":true},"wordTimings":{"type":"array","items":{"type":"object","properties":{"word":{"type":"string","minLength":1},"startSeconds":{"type":"number","minimum":0},"endSeconds":{"type":"number","minimum":0},"captionHidden":{"type":"boolean"},"emphasis":{"type":"boolean"}},"required":["word","startSeconds","endSeconds"]}},"timing":{"type":"object","properties":{"source":{"type":"string","enum":["estimated-wpm","tts-generated","stt-aligned"]},"scenePaddingSeconds":{"type":"number","minimum":0,"maximum":3},"spokenDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sceneDurationBeforeSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sceneDurationAfterSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"durationPolicy":{"type":"string","enum":["fit-to-voiceover","fixed-scene","ratio-scene"]},"overflow":{"type":"object","properties":{"resolvedBy":{"type":"string","enum":["speed-up","trim-script","extend-scene"]},"appliedSpeakingRate":{"type":"number","minimum":0,"exclusiveMinimum":true},"unabsorbedSeconds":{"type":"number","minimum":0}},"required":["resolvedBy","appliedSpeakingRate","unabsorbedSeconds"]}},"required":["source","scenePaddingSeconds","spokenDurationSeconds","sceneDurationBeforeSeconds","sceneDurationAfterSeconds"]}},"required":["text","status","voiceName","estimatedDurationSeconds","wordsPerMinute","wordTimings"]},"assets":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"kind":{"type":"string","enum":["image","video","audio","text","shape","avatar","chart","component"],"default":"image"},"source":{"type":"string","enum":["auto-search","generated-image","generated-video","stock","upload","slide-import","recording","avatar","audio","shape","text"]},"query":{"type":"string"},"label":{"type":"string","minLength":1},"hidden":{"type":"boolean"},"locked":{"type":"boolean"},"text":{"type":"string"},"isDraftText":{"type":"boolean"},"typography":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"maxItems":4},"fontSizePx":{"type":"number","minimum":12,"maximum":400},"role":{"type":"string","enum":["display","headline","support","badge","number"]},"source":{"type":"string","enum":["ai-layout"]}},"required":["lines","source"]},"textWrapMode":{"type":"string","enum":["semantic"]},"textRuns":{"type":"array","items":{"type":"object","properties":{"start":{"type":"integer","minimum":0},"end":{"type":"integer","minimum":0},"color":{"type":"string"},"bold":{"type":"boolean"},"highlightColor":{"type":"string"}},"required":["start","end"]},"maxItems":64},"shapeType":{"type":"string","enum":["line","arrow","rectangle","roundedRectangle","triangle","circle","diamond","callout","star","heart","plus","bracket","check","cross","scribbleCircle","roughUnderline","sketchArrow","sparkle"]},"chart":{"type":"object","properties":{"type":{"type":"string","enum":["bar","donut","line"]},"series":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","maxLength":40},"value":{"type":"number"},"color":{"type":"string"}},"required":["label","value"]},"minItems":1,"maxItems":8},"showValues":{"type":"boolean"}},"required":["type","series"]},"component":{"type":"object","properties":{"componentId":{"type":"string","minLength":1},"props":{"type":"object","additionalProperties":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"nullable":true}]},"default":{}},"typography":{"type":"object","additionalProperties":{"type":"object","properties":{"role":{"type":"string","enum":["display","headline","support","badge","number"]},"fontSizePx":{"type":"number","minimum":12,"maximum":400},"fontFamily":{"type":"string","minLength":1,"maxLength":120},"fontWeight":{"type":"string","enum":["500","600","700","800","900"]},"lineHeight":{"type":"number","minimum":0.85,"maximum":1.6},"letterSpacingEm":{"type":"number","minimum":-0.08,"maximum":0.12}},"required":["role","fontSizePx","fontFamily","fontWeight","lineHeight","letterSpacingEm"]}},"editableLayout":{"type":"object","additionalProperties":{"type":"object","properties":{"offsetX":{"type":"number","minimum":-4000,"maximum":4000},"offsetY":{"type":"number","minimum":-4000,"maximum":4000},"scale":{"type":"number","minimum":0.1,"maximum":5},"scaleX":{"type":"number","minimum":0.1,"maximum":5},"scaleY":{"type":"number","minimum":0.1,"maximum":5}},"required":["offsetX","offsetY"]}},"hiddenEditableLayerIds":{"type":"array","items":{"type":"string","minLength":1,"maxLength":80},"maxItems":80},"render":{"type":"string","enum":["live","prerendered"],"default":"live"},"scenePersistent":{"type":"boolean"},"timelineOffsetSeconds":{"type":"number","minimum":0},"timelineDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"prerenderedUrl":{"type":"string","format":"uri"},"prerenderedHash":{"type":"string"},"contentBox":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"},"width":{"type":"number"},"height":{"type":"number"}},"required":["x","y","width","height"]}},"required":["componentId"]},"altText":{"type":"string"},"url":{"type":"string"},"thumbnailUrl":{"type":"string"},"sourceUrl":{"type":"string"},"provider":{"type":"string"},"trackId":{"type":"string"},"groupId":{"type":"string"},"role":{"type":"string","enum":["background","overlay","voiceover","music","caption","shape","sfx"]},"startSeconds":{"type":"number","minimum":0},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceWidth":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceHeight":{"type":"number","minimum":0,"exclusiveMinimum":true},"searchStatus":{"type":"string","enum":["pending","searching","selected","not-found","manual"]},"candidates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"title":{"type":"string","minLength":1},"imageUrl":{"type":"string","format":"uri"},"thumbnailUrl":{"type":"string","format":"uri"},"sourceUrl":{"type":"string","format":"uri"},"provider":{"type":"string"},"width":{"type":"number"},"height":{"type":"number"},"kind":{"type":"string","enum":["image","video"]},"durationSeconds":{"type":"number"}},"required":["id","title","imageUrl"]}},"layout":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"},"width":{"type":"number","minimum":0,"exclusiveMinimum":true},"height":{"type":"number","minimum":0,"exclusiveMinimum":true},"rotation":{"type":"number"},"opacity":{"type":"number","minimum":0,"maximum":1},"fit":{"type":"string","enum":["cover","contain","fill"]},"zIndex":{"type":"integer"},"lockAspectRatio":{"type":"boolean"}},"required":["x","y","width","height","rotation","opacity","fit","zIndex"]},"autoFitText":{"type":"boolean"},"style":{"type":"object","properties":{"backgroundColor":{"type":"string"},"color":{"type":"string"},"textColorOverride":{"type":"boolean"},"textBackgroundColorOverride":{"type":"boolean"},"fontFamily":{"type":"string"},"fontSize":{"type":"number"},"fontWeight":{"type":"string"},"lineHeight":{"type":"number","minimum":0.85,"maximum":2.2},"letterSpacingEm":{"type":"number","minimum":-0.12,"maximum":0.2},"textAlign":{"type":"string","enum":["left","center","right"]},"borderRadius":{"type":"number"},"maskShape":{"type":"string","enum":["rectangle","rounded","circle","diamond"]},"borderColor":{"type":"string"},"borderWidth":{"type":"number","minimum":0,"maximum":24},"brightness":{"type":"number","minimum":0,"maximum":200},"contrast":{"type":"number","minimum":0,"maximum":200},"saturation":{"type":"number","minimum":0,"maximum":200},"backgroundFill":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]},"flipHorizontal":{"type":"boolean"},"focalX":{"type":"number","minimum":0,"maximum":1},"focalY":{"type":"number","minimum":0,"maximum":1},"focalZoom":{"type":"number","minimum":1,"maximum":3},"sourceCrop":{"type":"object","properties":{"x":{"type":"number","minimum":0,"maximum":1},"y":{"type":"number","minimum":0,"maximum":1},"width":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":1},"height":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":1}},"required":["x","y","width","height"]},"captionEffect":{"type":"string","enum":["none","karaoke","cinematicFocus","line","word","wordPair","cumulative","activeBox","activeUnderline","keywordPunch","slamPop","extrudeStack","typewriter","pop","bounce","fade","slideUp"]},"captionTransition":{"type":"string","enum":["cut","crossfade","slideUp"]},"captionEmphasis":{"type":"string","enum":["preset-aware"]},"karaokeMode":{"type":"string","enum":["sweep","active-word"]},"captionPreset":{"type":"string","enum":["wordFocus","wordPair","chunkBar","karaokeClean","cinematicFocus","bigHook","buildLine","highlighterBox","keywordPunch","slamPop","extrudeStack","koVarietyShow","jaTelopMinimal","arRtlBar","cleanLower","purpleHighlight","underlineShadow","lineCard","wordPop","wordBadge","boldYellow","whiteBox","neonCaption","wordCenter"]},"textPreset":{"type":"string","enum":["cleanPunch","markerSwipe","inkBar","paperTag","accentStat","serifQuote","stickerPop","extrude3d","boxedHook","highlightMarker","editorialBar","softCard","boldFill","outline","underlineAccent","gradientPop","glassLight","neonGlow","blockShadow","pillBadge","darkBar"]},"dropShadow":{"type":"object","properties":{"enabled":{"type":"boolean"},"blur":{"type":"number","minimum":0,"maximum":80},"distance":{"type":"number","minimum":0,"maximum":80},"angle":{"type":"number","minimum":0,"maximum":360},"color":{"type":"string"},"opacity":{"type":"number","minimum":0,"maximum":1}},"required":["enabled","blur","distance","angle","color","opacity"]}}},"animation":{"type":"object","properties":{"mode":{"type":"string","enum":["enter-exit","loop","photo-effect"]},"enterStyle":{"type":"string","enum":["none","fade","slide","rise","zoom","pop","bounce","blurIn","flip","spin","stretch"]},"exitStyle":{"type":"string","enum":["none","fade","slide","rise","zoom","pop","bounce","blurIn","flip","spin","stretch"]},"loopStyle":{"type":"string","enum":["none","pulse","pan","zoom","shake"]},"photoEffect":{"type":"string","enum":["none","pan","zoom","punch"]},"durationSeconds":{"type":"number","minimum":0.1,"maximum":30},"direction":{"type":"string","enum":["left","right","up","down"]},"separateEnterExit":{"type":"boolean"},"textUnit":{"type":"string","enum":["whole","paragraph","word","character"]},"countUp":{"type":"boolean"},"reverseOnLoop":{"type":"boolean"},"intensity":{"type":"number","minimum":0.2,"maximum":2},"zoomDirection":{"type":"string","enum":["in","out"]}},"required":["mode","durationSeconds"]},"audio":{"type":"object","properties":{"volumePercent":{"type":"number","minimum":0,"maximum":200},"fadeInSeconds":{"type":"number","minimum":0,"maximum":10},"fadeOutSeconds":{"type":"number","minimum":0,"maximum":10},"ducking":{"type":"string","enum":["none","narrative","background"]},"balanceScope":{"type":"string","enum":["track","all"]},"balancedAt":{"type":"string"},"loopCrossfadeSeconds":{"type":"number","minimum":0,"maximum":6},"loopSourceSeconds":{"type":"number","minimum":0.1,"maximum":3600}},"required":["volumePercent","fadeInSeconds","fadeOutSeconds","ducking"]},"playback":{"type":"object","properties":{"startSeconds":{"type":"number","minimum":0},"endSeconds":{"type":"number","minimum":0},"loop":{"type":"boolean"},"playbackRate":{"type":"number","minimum":0.25,"maximum":4}}}},"required":["id","source","label","role","startSeconds","durationSeconds"]},"minItems":1}},"required":["savedAt","reason","script","durationSeconds","narration","assets"]}},"required":["id","title","script","searchQuery","durationSeconds","assets"]},"minItems":1},"overlays":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"anchor":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["always"]}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["sceneRange"]},"fromSceneId":{"type":"string","minLength":1},"toSceneId":{"type":"string","minLength":1}},"required":["type","fromSceneId","toSceneId"]},{"type":"object","properties":{"type":{"type":"string","enum":["sceneOffset"]},"fromSceneId":{"type":"string","minLength":1},"fromOffsetSeconds":{"type":"number","minimum":0},"toSceneId":{"type":"string","minLength":1},"toOffsetSeconds":{"type":"number","minimum":0}},"required":["type","fromSceneId","fromOffsetSeconds","toSceneId"]}]},"templateTextMode":{"type":"string","enum":["generated","fixed"]},"asset":{"type":"object","properties":{"id":{"type":"string","minLength":1},"kind":{"type":"string","enum":["image","video","audio","text","shape","avatar","chart","component"],"default":"image"},"source":{"type":"string","enum":["auto-search","generated-image","generated-video","stock","upload","slide-import","recording","avatar","audio","shape","text"]},"query":{"type":"string"},"label":{"type":"string","minLength":1},"hidden":{"type":"boolean"},"locked":{"type":"boolean"},"text":{"type":"string"},"isDraftText":{"type":"boolean"},"typography":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"maxItems":4},"fontSizePx":{"type":"number","minimum":12,"maximum":400},"role":{"type":"string","enum":["display","headline","support","badge","number"]},"source":{"type":"string","enum":["ai-layout"]}},"required":["lines","source"]},"textWrapMode":{"type":"string","enum":["semantic"]},"textRuns":{"type":"array","items":{"type":"object","properties":{"start":{"type":"integer","minimum":0},"end":{"type":"integer","minimum":0},"color":{"type":"string"},"bold":{"type":"boolean"},"highlightColor":{"type":"string"}},"required":["start","end"]},"maxItems":64},"shapeType":{"type":"string","enum":["line","arrow","rectangle","roundedRectangle","triangle","circle","diamond","callout","star","heart","plus","bracket","check","cross","scribbleCircle","roughUnderline","sketchArrow","sparkle"]},"chart":{"type":"object","properties":{"type":{"type":"string","enum":["bar","donut","line"]},"series":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","maxLength":40},"value":{"type":"number"},"color":{"type":"string"}},"required":["label","value"]},"minItems":1,"maxItems":8},"showValues":{"type":"boolean"}},"required":["type","series"]},"component":{"type":"object","properties":{"componentId":{"type":"string","minLength":1},"props":{"type":"object","additionalProperties":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"nullable":true}]},"default":{}},"typography":{"type":"object","additionalProperties":{"type":"object","properties":{"role":{"type":"string","enum":["display","headline","support","badge","number"]},"fontSizePx":{"type":"number","minimum":12,"maximum":400},"fontFamily":{"type":"string","minLength":1,"maxLength":120},"fontWeight":{"type":"string","enum":["500","600","700","800","900"]},"lineHeight":{"type":"number","minimum":0.85,"maximum":1.6},"letterSpacingEm":{"type":"number","minimum":-0.08,"maximum":0.12}},"required":["role","fontSizePx","fontFamily","fontWeight","lineHeight","letterSpacingEm"]}},"editableLayout":{"type":"object","additionalProperties":{"type":"object","properties":{"offsetX":{"type":"number","minimum":-4000,"maximum":4000},"offsetY":{"type":"number","minimum":-4000,"maximum":4000},"scale":{"type":"number","minimum":0.1,"maximum":5},"scaleX":{"type":"number","minimum":0.1,"maximum":5},"scaleY":{"type":"number","minimum":0.1,"maximum":5}},"required":["offsetX","offsetY"]}},"hiddenEditableLayerIds":{"type":"array","items":{"type":"string","minLength":1,"maxLength":80},"maxItems":80},"render":{"type":"string","enum":["live","prerendered"],"default":"live"},"scenePersistent":{"type":"boolean"},"timelineOffsetSeconds":{"type":"number","minimum":0},"timelineDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"prerenderedUrl":{"type":"string","format":"uri"},"prerenderedHash":{"type":"string"},"contentBox":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"},"width":{"type":"number"},"height":{"type":"number"}},"required":["x","y","width","height"]}},"required":["componentId"]},"altText":{"type":"string"},"url":{"type":"string"},"thumbnailUrl":{"type":"string"},"sourceUrl":{"type":"string"},"provider":{"type":"string"},"trackId":{"type":"string"},"groupId":{"type":"string"},"role":{"type":"string","enum":["background","overlay","voiceover","music","caption","shape","sfx"]},"startSeconds":{"type":"number","minimum":0},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceWidth":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceHeight":{"type":"number","minimum":0,"exclusiveMinimum":true},"searchStatus":{"type":"string","enum":["pending","searching","selected","not-found","manual"]},"candidates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"title":{"type":"string","minLength":1},"imageUrl":{"type":"string","format":"uri"},"thumbnailUrl":{"type":"string","format":"uri"},"sourceUrl":{"type":"string","format":"uri"},"provider":{"type":"string"},"width":{"type":"number"},"height":{"type":"number"},"kind":{"type":"string","enum":["image","video"]},"durationSeconds":{"type":"number"}},"required":["id","title","imageUrl"]}},"layout":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"},"width":{"type":"number","minimum":0,"exclusiveMinimum":true},"height":{"type":"number","minimum":0,"exclusiveMinimum":true},"rotation":{"type":"number"},"opacity":{"type":"number","minimum":0,"maximum":1},"fit":{"type":"string","enum":["cover","contain","fill"]},"zIndex":{"type":"integer"},"lockAspectRatio":{"type":"boolean"}},"required":["x","y","width","height","rotation","opacity","fit","zIndex"]},"autoFitText":{"type":"boolean"},"style":{"type":"object","properties":{"backgroundColor":{"type":"string"},"color":{"type":"string"},"textColorOverride":{"type":"boolean"},"textBackgroundColorOverride":{"type":"boolean"},"fontFamily":{"type":"string"},"fontSize":{"type":"number"},"fontWeight":{"type":"string"},"lineHeight":{"type":"number","minimum":0.85,"maximum":2.2},"letterSpacingEm":{"type":"number","minimum":-0.12,"maximum":0.2},"textAlign":{"type":"string","enum":["left","center","right"]},"borderRadius":{"type":"number"},"maskShape":{"type":"string","enum":["rectangle","rounded","circle","diamond"]},"borderColor":{"type":"string"},"borderWidth":{"type":"number","minimum":0,"maximum":24},"brightness":{"type":"number","minimum":0,"maximum":200},"contrast":{"type":"number","minimum":0,"maximum":200},"saturation":{"type":"number","minimum":0,"maximum":200},"backgroundFill":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]},"flipHorizontal":{"type":"boolean"},"focalX":{"type":"number","minimum":0,"maximum":1},"focalY":{"type":"number","minimum":0,"maximum":1},"focalZoom":{"type":"number","minimum":1,"maximum":3},"sourceCrop":{"type":"object","properties":{"x":{"type":"number","minimum":0,"maximum":1},"y":{"type":"number","minimum":0,"maximum":1},"width":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":1},"height":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":1}},"required":["x","y","width","height"]},"captionEffect":{"type":"string","enum":["none","karaoke","cinematicFocus","line","word","wordPair","cumulative","activeBox","activeUnderline","keywordPunch","slamPop","extrudeStack","typewriter","pop","bounce","fade","slideUp"]},"captionTransition":{"type":"string","enum":["cut","crossfade","slideUp"]},"captionEmphasis":{"type":"string","enum":["preset-aware"]},"karaokeMode":{"type":"string","enum":["sweep","active-word"]},"captionPreset":{"type":"string","enum":["wordFocus","wordPair","chunkBar","karaokeClean","cinematicFocus","bigHook","buildLine","highlighterBox","keywordPunch","slamPop","extrudeStack","koVarietyShow","jaTelopMinimal","arRtlBar","cleanLower","purpleHighlight","underlineShadow","lineCard","wordPop","wordBadge","boldYellow","whiteBox","neonCaption","wordCenter"]},"textPreset":{"type":"string","enum":["cleanPunch","markerSwipe","inkBar","paperTag","accentStat","serifQuote","stickerPop","extrude3d","boxedHook","highlightMarker","editorialBar","softCard","boldFill","outline","underlineAccent","gradientPop","glassLight","neonGlow","blockShadow","pillBadge","darkBar"]},"dropShadow":{"type":"object","properties":{"enabled":{"type":"boolean"},"blur":{"type":"number","minimum":0,"maximum":80},"distance":{"type":"number","minimum":0,"maximum":80},"angle":{"type":"number","minimum":0,"maximum":360},"color":{"type":"string"},"opacity":{"type":"number","minimum":0,"maximum":1}},"required":["enabled","blur","distance","angle","color","opacity"]}}},"animation":{"type":"object","properties":{"mode":{"type":"string","enum":["enter-exit","loop","photo-effect"]},"enterStyle":{"type":"string","enum":["none","fade","slide","rise","zoom","pop","bounce","blurIn","flip","spin","stretch"]},"exitStyle":{"type":"string","enum":["none","fade","slide","rise","zoom","pop","bounce","blurIn","flip","spin","stretch"]},"loopStyle":{"type":"string","enum":["none","pulse","pan","zoom","shake"]},"photoEffect":{"type":"string","enum":["none","pan","zoom","punch"]},"durationSeconds":{"type":"number","minimum":0.1,"maximum":30},"direction":{"type":"string","enum":["left","right","up","down"]},"separateEnterExit":{"type":"boolean"},"textUnit":{"type":"string","enum":["whole","paragraph","word","character"]},"countUp":{"type":"boolean"},"reverseOnLoop":{"type":"boolean"},"intensity":{"type":"number","minimum":0.2,"maximum":2},"zoomDirection":{"type":"string","enum":["in","out"]}},"required":["mode","durationSeconds"]},"audio":{"type":"object","properties":{"volumePercent":{"type":"number","minimum":0,"maximum":200},"fadeInSeconds":{"type":"number","minimum":0,"maximum":10},"fadeOutSeconds":{"type":"number","minimum":0,"maximum":10},"ducking":{"type":"string","enum":["none","narrative","background"]},"balanceScope":{"type":"string","enum":["track","all"]},"balancedAt":{"type":"string"},"loopCrossfadeSeconds":{"type":"number","minimum":0,"maximum":6},"loopSourceSeconds":{"type":"number","minimum":0.1,"maximum":3600}},"required":["volumePercent","fadeInSeconds","fadeOutSeconds","ducking"]},"playback":{"type":"object","properties":{"startSeconds":{"type":"number","minimum":0},"endSeconds":{"type":"number","minimum":0},"loop":{"type":"boolean"},"playbackRate":{"type":"number","minimum":0.25,"maximum":4}}}},"required":["id","source","label","role","startSeconds","durationSeconds"]}},"required":["id","anchor","asset"]},"maxItems":12},"canvas":{"type":"object","properties":{"width":{"type":"integer","minimum":0,"exclusiveMinimum":true},"height":{"type":"integer","minimum":0,"exclusiveMinimum":true},"safeAreaPercent":{"type":"number","minimum":0,"maximum":30}},"required":["width","height","safeAreaPercent"]},"theme":{"type":"object","properties":{"fontFamily":{"type":"string"},"primaryColor":{"type":"string"},"backgroundColor":{"type":"string"},"accentColor":{"type":"string"},"defaultTextStyle":{"type":"object","properties":{"titleFontSize":{"type":"number","minimum":12,"maximum":96},"subtitleFontSize":{"type":"number","minimum":12,"maximum":72},"bodyFontSize":{"type":"number","minimum":10,"maximum":48},"color":{"type":"string"},"fontWeight":{"type":"string"}},"required":["titleFontSize","subtitleFontSize","bodyFontSize","color","fontWeight"]},"defaultShapeStyle":{"type":"object","properties":{"fillColor":{"type":"string"},"borderColor":{"type":"string"},"borderWidth":{"type":"number","minimum":0,"maximum":24},"borderRadius":{"type":"number","minimum":0,"maximum":80}},"required":["fillColor","borderColor","borderWidth","borderRadius"]}},"required":["fontFamily","primaryColor","backgroundColor","accentColor"]},"tracks":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"type":{"type":"string","enum":["scene","visual","voiceover","music","caption","effect"]},"label":{"type":"string","minLength":1},"muted":{"type":"boolean"},"locked":{"type":"boolean"},"height":{"type":"number","minimum":0,"exclusiveMinimum":true}},"required":["id","type","label","muted","locked","height"]}},"voice":{"type":"object","properties":{"provider":{"type":"string","enum":["tts"]},"name":{"type":"string","minLength":1},"voiceId":{"type":"string","minLength":1},"ttsProvider":{"type":"string","enum":["inworld","fish-audio","typecast"]},"speakingRate":{"type":"number","minimum":0.5,"maximum":2},"narrationDisabled":{"type":"boolean"},"narrationSource":{"type":"string","enum":["tts","source-media"]},"timingStatus":{"type":"string","enum":["none","draft","tts-generated","stt-aligned"]},"totalSpokenDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true}},"required":["provider","name","speakingRate"]},"output":{"type":"object","properties":{"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"renderMode":{"type":"string","enum":["draft","preview","final"]},"format":{"type":"string","enum":["mp4"]}},"required":["durationSeconds","renderMode","format"]},"storyboardBrief":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"scriptMode":{"type":"string","enum":["rewrite","verbatim"]},"objective":{"type":"string","minLength":1},"audience":{"type":"string","minLength":1},"tone":{"type":"string","minLength":1},"style":{"type":"string","minLength":1},"outline":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"title":{"type":"string","minLength":1},"summary":{"type":"string","minLength":1}},"required":["id","title","summary"]},"minItems":1,"maxItems":24},"generatedAt":{"type":"string","minLength":1},"source":{"type":"string","enum":["ai","fallback","manual"]},"model":{"type":"string","minLength":1}},"required":["prompt","objective","audience","tone","style","outline","generatedAt","source"]},"soundtrack":{"type":"object","properties":{"title":{"type":"string","minLength":1},"mood":{"type":"string","minLength":1},"searchQuery":{"type":"string","minLength":1},"assetId":{"type":"string","minLength":1},"source":{"type":"string","enum":["ai","fallback","manual"]}},"required":["title","mood","searchQuery","assetId","source"]},"autoSearch":{"type":"object","properties":{"searchedAt":{"type":"string","minLength":1},"searchedSceneIds":{"type":"array","items":{"type":"string","minLength":1}},"assetsSearched":{"type":"integer","minimum":0},"assetsSelected":{"type":"integer","minimum":0},"assetsNotFound":{"type":"integer","minimum":0},"resultsPerScene":{"type":"integer","minimum":1},"applyFirstResult":{"type":"boolean"},"source":{"type":"string","enum":["commercial","internet"]},"requestedMediaType":{"type":"string","enum":["all","image","video"]},"videoFilledSceneIds":{"type":"array","items":{"type":"string","minLength":1}},"imageFallbackSceneIds":{"type":"array","items":{"type":"string","minLength":1}},"emptyVideoSceneIds":{"type":"array","items":{"type":"string","minLength":1}}},"required":["searchedAt","searchedSceneIds","assetsSearched","assetsSelected","assetsNotFound","resultsPerScene","applyFirstResult","source"]},"generationWorkflow":{"type":"object","properties":{"generatedAt":{"type":"string","minLength":1},"generatedSceneIds":{"type":"array","items":{"type":"string","minLength":1}},"timedSceneIds":{"type":"array","items":{"type":"string","minLength":1}},"searchedSceneIds":{"type":"array","items":{"type":"string","minLength":1}},"voiceTimingPrepared":{"type":"boolean"},"sceneAssetsSearched":{"type":"boolean"},"previewReady":{"type":"boolean"},"resultsPerScene":{"type":"integer","minimum":1},"applyFirstResult":{"type":"boolean"}},"required":["generatedAt","generatedSceneIds","timedSceneIds","searchedSceneIds","voiceTimingPrepared","sceneAssetsSearched","previewReady","resultsPerScene","applyFirstResult"]},"finalizationCheckpoint":{"type":"object","properties":{"version":{"type":"string","enum":["1"]},"stage":{"type":"string","enum":["mixed-media-foundation"]},"sourceFingerprint":{"type":"string","pattern":"^[a-f0-9]{64}$"},"settingsFingerprint":{"type":"string","pattern":"^[a-f0-9]{64}$"},"preparedAt":{"type":"string","format":"date-time"}},"required":["version","stage","sourceFingerprint","settingsFingerprint","preparedAt"]},"versionHistory":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"name":{"type":"string","minLength":1},"authorName":{"type":"string","minLength":1},"createdAt":{"type":"string","minLength":1},"sceneCount":{"type":"integer","minimum":1},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"named":{"type":"boolean"},"snapshot":{"nullable":true}},"required":["id","name","authorName","createdAt","sceneCount","durationSeconds","named"]}},"debugPlan":{"nullable":true},"debugLlmDraft":{"nullable":true},"debugDesignAssignment":{"nullable":true}},"required":["id","title","aspectRatio","language","targetDurationSeconds","activeSceneId","scenes","voice","output"]},"fallback":{"type":"boolean"},"model":{"type":"string"},"brandImageRecords":{"type":"array","items":{"type":"object","properties":{"sceneId":{"type":"string"},"visualKind":{"type":"string","enum":["photo","interface"]},"searchQuery":{"type":"string"},"promptSource":{"type":"string","enum":["llm","fallback"]},"scenePrompt":{"type":"string"},"wrappedPrompt":{"type":"string"},"referenceImageCount":{"type":"number"},"designPalette":{"type":"string"},"outputUrl":{"type":"string","nullable":true},"error":{"type":"string"}},"required":["sceneId","visualKind","searchQuery","promptSource","scenePrompt","wrappedPrompt","referenceImageCount","outputUrl"]}},"brandVideosGenerated":{"type":"integer","minimum":0},"workflow":{"type":"object","properties":{"generatedSceneIds":{"type":"array","items":{"type":"string","minLength":1}},"timedSceneIds":{"type":"array","items":{"type":"string","minLength":1}},"searchedSceneIds":{"type":"array","items":{"type":"string","minLength":1}},"voiceTimingPrepared":{"type":"boolean"},"sceneAssetsSearched":{"type":"boolean"},"previewReady":{"type":"boolean"}},"required":["generatedSceneIds","timedSceneIds","searchedSceneIds","voiceTimingPrepared","sceneAssetsSearched","previewReady"]}},"required":["document"]}}}}}}},"/api/v1/video-lab/finalize":{"post":{"tags":["VideoLab"],"summary":"Finalize a reviewed video draft","description":"Runs deferred voiceover and media work on an approved draft. Pass the latest updatedAt as expectedUpdatedAt. Base generation cost: 15 credits, subject to benefits and media options. Does not render the final MP4: call POST /api/v1/video-lab/render next. MCP: video_finalize.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"generationId":{"type":"string","minLength":1},"document":{"type":"object","properties":{"id":{"type":"string","minLength":1},"title":{"type":"string","minLength":1},"aspectRatio":{"type":"string","enum":["16:9","9:16","1:1"]},"language":{"type":"string","minLength":2,"maxLength":16},"targetDurationSeconds":{"type":"integer","minimum":0,"exclusiveMinimum":true},"activeSceneId":{"type":"string","minLength":1},"editingMode":{"type":"string","enum":["generated","source-video","longform-source"]},"longformSource":{"type":"object","properties":{"version":{"type":"string","enum":["1"]},"projectId":{"type":"string","format":"uuid"},"sourceAssetUrl":{"type":"string","format":"uri"},"sourceDurationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceWidth":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceHeight":{"type":"number","minimum":0,"exclusiveMinimum":true},"sourceManifestRevision":{"type":"integer","minimum":0,"exclusiveMinimum":true},"analysisRevision":{"type":"integer","minimum":0,"exclusiveMinimum":true}},"required":["version","projectId","sourceAssetUrl","sourceDurationSeconds","sourceManifestRevision","analysisRevision"]},"longformDesign":{"type":"object","properties":{"version":{"type":"string","enum":["1"]},"preset":{"type":"string","enum":["clean","studio","bold","broadcast","editorial","neon","custom"]},"fontFamily":{"type":"string","minLength":1,"maxLength":200},"primaryColor":{"type":"string","minLength":1,"maxLength":100},"backgroundColor":{"type":"string","minLength":1,"maxLength":100},"accentColor":{"type":"string","minLength":1,"maxLength":100},"captionPreset":{"type":"string","enum":["wordFocus","wordPair","chunkBar","karaokeClean","cinematicFocus","bigHook","buildLine","highlighterBox","keywordPunch","slamPop","extrudeStack","koVarietyShow","jaTelopMinimal","arRtlBar","cleanLower","purpleHighlight","underlineShadow","lineCard","wordPop","wordBadge","boldYellow","whiteBox","neonCaption","wordCenter"]},"frame":{"type":"object","properties":{"borderRadius":{"type":"number","minimum":0,"maximum":64},"borderWidth":{"type":"number","minimum":0,"maximum":24},"borderColor":{"type":"string","minLength":1,"maxLength":100},"shadow":{"type":"string","enum":["none","soft","strong"]}},"required":["borderRadius","borderWidth","borderColor","shadow"]},"logo":{"type":"object","properties":{"workspaceAssetId":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1,"maxLength":120},"imageUrl":{"type":"string","format":"uri"},"position":{"type":"string","enum":["top-left","top-right","bottom-left","bottom-right"]},"sizePercent":{"type":"number","minimum":6,"maximum":30},"opacity":{"type":"number","minimum":0.2,"maximum":1}},"required":["name","imageUrl","position","sizePercent","opacity"]}},"required":["version","preset","fontFamily","primaryColor","backgroundColor","accentColor","frame"]},"templateContentBindingsVersion":{"type":"string","enum":["1"]},"styleProfileId":{"type":"string"},"styleProfileSource":{"type":"string","enum":["user","auto"]},"captionStylePreset":{"type":"string","enum":["wordFocus","wordPair","chunkBar","karaokeClean","cinematicFocus","bigHook","buildLine","highlighterBox","keywordPunch","slamPop","extrudeStack","koVarietyShow","jaTelopMinimal","arRtlBar","cleanLower","purpleHighlight","underlineShadow","lineCard","wordPop","wordBadge","boldYellow","whiteBox","neonCaption","wordCenter"]},"templateAllocation":{"type":"object","properties":{"version":{"type":"string","enum":["2"]},"seed":{"type":"string","format":"uuid"},"decisions":{"type":"array","items":{"type":"object","properties":{"sceneIndex":{"type":"integer","minimum":0},"selectedTemplateId":{"type":"string"},"candidateTemplateIds":{"type":"array","items":{"type":"string"},"maxItems":5},"candidateFitScores":{"type":"array","items":{"type":"number","minimum":0,"maximum":100},"maxItems":5},"source":{"type":"string","enum":["ranked","preferred","hold-group","fallback"]}},"required":["sceneIndex","candidateTemplateIds","candidateFitScores","source"]},"maxItems":80}},"required":["version","seed","decisions"]},"captionPunch":{"type":"object","properties":{"enabled":{"type":"boolean"},"preset":{"type":"string","enum":["presetAware","impactCard"]},"accentColor":{"type":"string","minLength":1},"position":{"type":"string","enum":["auto"]}}},"brandReferenceImageUrls":{"type":"array","items":{"type":"string","format":"uri"},"maxItems":3},"aiAvatarReferenceUrl":{"type":"string","format":"uri"},"aiVisualDirection":{"type":"string","maxLength":2000},"brandAiMode":{"type":"boolean"},"brandAiVideoMode":{"type":"boolean"},"brandAiVideoScope":{"type":"string","enum":["all-scenes"]},"userMediaOnly":{"type":"boolean"},"creationSettings":{"type":"object","properties":{"generateSoundtrack":{"type":"boolean"},"soundtrackMode":{"type":"string","enum":["none","template","generate"]},"quotedCredits":{"type":"integer","minimum":0},"generationPipeline":{"type":"string","enum":["foundation","mixed-media"]},"imageSearchSource":{"type":"string","enum":["commercial","internet"]},"mediaType":{"type":"string","enum":["all","image","video"]},"mediaSource":{"type":"string","enum":["internet","commercial","brand-ai","brand-ai-video","user-media"]},"mediaPlanningMode":{"type":"string","enum":["legacy-finalize","review-selected-1n"]},"mediaPlanVersion":{"type":"string","enum":["1"]},"visualModePolicy":{"type":"string","enum":["current-binary","broll-free","best-fit","free-only","directed-only"]},"directedBrollContract":{"type":"string","enum":["legacy-pixel-dominant","story-first","text-only"]}},"required":["generateSoundtrack","quotedCredits"]},"sourceVideo":{"oneOf":[{"type":"object","properties":{"mediaUrl":{"type":"string","format":"uri"},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"mode":{"type":"string","enum":["auto-edit"]},"framing":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["crop"]}},"required":["mode"]},{"type":"object","properties":{"mode":{"type":"string","enum":["background-fill"]},"background":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]}},"required":["mode","background"]}]},"visualPolicy":{"type":"string","enum":["editable"]},"editStrategy":{"type":"string","enum":["speech-highlights","visual-highlights","mixed-highlights"]},"analysisSummary":{"type":"string","minLength":1,"maxLength":1200},"speechDetected":{"type":"boolean"},"speechRole":{"type":"string","enum":["primary","supporting","incidental-music","none"]},"creativeTreatment":{"type":"object","properties":{"archetype":{"type":"string","enum":["spoken-insight","product-demo","process","vlog","event-montage","cinematic-moment","mixed-story"]},"pace":{"type":"string","enum":["calm","balanced","punchy"]},"textStyle":{"type":"string","enum":["none","minimal","editorial","bold"]},"colorGrade":{"type":"string","enum":["natural","clean","vivid","cinematic","soft"]},"soundMode":{"type":"string","enum":["source-only","source-plus-music","music-led"]},"captionPreset":{"type":"string","enum":["wordFocus","wordPair","chunkBar","karaokeClean","cinematicFocus","bigHook","buildLine","highlighterBox","keywordPunch","slamPop","extrudeStack","koVarietyShow","jaTelopMinimal","arRtlBar","cleanLower","purpleHighlight","underlineShadow","lineCard","wordPop","wordBadge","boldYellow","whiteBox","neonCaption","wordCenter"]},"accentColor":{"type":"string","pattern":"^#[0-9a-fA-F]{6}$"},"fontFamily":{"type":"string","enum":["Inter","Poppins"]},"directionSummary":{"type":"string","minLength":1,"maxLength":500}},"required":["archetype","pace","textStyle","colorGrade","soundMode","captionPreset","accentColor","fontFamily","directionSummary"]}},"required":["mediaUrl","durationSeconds","mode","visualPolicy","editStrategy","analysisSummary","speechDetected"]},{"type":"object","properties":{"mediaUrl":{"type":"string","format":"uri"},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"mode":{"type":"string","enum":["recorded-speech"]},"visualPolicy":{"type":"string","enum":["editable"]},"framing":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["crop"]}},"required":["mode"]},{"type":"object","properties":{"mode":{"type":"string","enum":["background-fill"]},"background":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]}},"required":["mode","background"]}]}},"required":["mediaUrl","durationSeconds","mode","visualPolicy"]},{"type":"object","properties":{"mediaUrl":{"type":"string","format":"uri"},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"mode":{"type":"string","enum":["scripted-voiceover"]},"visualPolicy":{"type":"string","enum":["locked"]},"framing":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["crop"]}},"required":["mode"]},{"type":"object","properties":{"mode":{"type":"string","enum":["background-fill"]},"background":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]}},"required":["mode","background"]}]}},"required":["mediaUrl","durationSeconds","mode","visualPolicy"]},{"type":"object","properties":{"mediaUrl":{"type":"string","format":"uri"},"durationSeconds":{"type":"number","minimum":0,"exclusiveMinimum":true},"mode":{"type":"string","enum":["manual"]},"visualPolicy":{"type":"string","enum":["editable"]},"framing":{"oneOf":[{"type":"object","properties":{"mode":{"type":"string","enum":["crop"]}},"required":["mode"]},{"type":"object","properties":{"mode":{"type":"string","enum":["background-fill"]},"background":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["blur"]},"blur":{"type":"number","minimum":8,"maximum":80,"default":36},"brightness":{"type":"number","minimum":20,"maximum":100,"default":58},"saturation":{"type":"number","minimum":0,"maximum":200,"default":115}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["solid"]},"color":{"type":"string","minLength":1}},"required":["type","color"]},{"type":"object","properties":{"type":{"type":"string","enum":["gradient"]},"color":{"type":"string","minLength":1},"secondaryColor":{"type":"string","minLength":1},"angle":{"type":"number","minimum":0,"maximum":360,"default":135}},"required":["type","color","secondaryColor"]}]}},"required":["mode","background"]}]}},"required":["mediaUrl","durationSeconds","mode","visualPolicy"]}]},"compositionMode":{"type":"string","enum":["template","authored"]},"typographyArtDirection":{"type":"object","properties":{"concept":{"type":"string","minLength":5,"maxLength":700},"displayFontFamily":{"type":"string","minLength":1,"maxLength":120},"supportFontFamily":{"type":"string","minLength":1,"maxLength":120},"roles":{"type":"object","properties":{"display":{"type":"object","properties":{"font":{"type":"string","enum":["display","support"]},"fontWeight":{"type":"string","enum":["500","600","700","800","900"]},"lineHeight":{"type":"number","minimum":0.85,"maximum":1.6},"letterSpacingEm":{"type":"number","minimum":-0.08,"maximum":0.12},"motion":{"type":"string","minLength":3,"maxLength":400}},"required":["font","fontWeight","lineHeight","letterSpacingEm","motion"]},"headline":{"type":"object","properties":{"font":{"type":"string","enum":["display","support"]},"fontWeight":{"type":"string","enum":["500","600","700","800","900"]},"lineHeight":{"type":"number","minimum":0.85,"maximum":1.6},"letterSpacingEm":{"type":"number","minimum":-0.08,"maximum":0.12},"motion":{"type":"string","minLengt
[...]
